<header id="header" id="home">
  <div class="container">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a href="/"><img src="/template/img/logo.png" alt="" title="" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active">
              <%= link_to 'Home', home_index_url(:anchor => "home"), class: "genric-btn primary-border small" %>
          </li>
          <li>
              <%= link_to 'We Offer', home_index_url(:anchor => "offer"), class: "genric-btn primary-border small" %>
          </li>
          <li>
              <%= link_to 'About', home_index_url(:anchor => "about"), class: "genric-btn primary-border small" %>
          </li>
          <li>
              <%= link_to 'Project', home_index_url(:anchor => "project"), class: "genric-btn primary-border small" %>
          </li>
          <li>
              <%= link_to 'Price', home_index_url(:anchor => "price"), class: "genric-btn primary-border small" %>
          </li>
          <li>
              <%= link_to 'Rent a Bag', new_subscription_url, class: 'genric-btn primary small' %>
          </li>
        </ul>
      </nav><!-- #nav-menu-container -->		    		
    </div>
  </div>
</header><!-- #header -->	